.day-label {
    font-weight: bold;
}

.navigation-bar {
    nav {
        background-color: #ba2100;
        padding: 1em;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

.menu {
    h2 {
        text-align: center;
        text-size-adjust: 800px;
    }
    p {
        text-indent: 4em;
    }

    h4 {
        text-indent: 2em;
    }
}

h2 {
    background-color: #ba22008a;
    padding: 1em;
}