body {
    width: 100%;
}

h2 {
    background-color: #ba22008a;
    padding: 1em;
}

p {
    margin: 1em 1.5em;
}

.navigation-bar {
    nav {
        background-color: #ba2100;
        padding: 1em;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

.menu {
    h2 {
        text-align: center;
        text-size-adjust: 800px;
    }
    p {
        text-indent: 4em;
    }

    h4 {
        text-indent: 2em;
    }
}

.socials-container { 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; /*spacing between icons*/
    margin-top: 2em;
}

.day-label {
    font-weight: bold;
}

.copyright-message {
    justify-content: center;
}

.devfaves { 
    display: flex; 
    justify-content: left;
    align-items: center;
    text-align: center;
    gap: 20px; /*spacing between icons*/
    margin: 2em 1.5em;
}

.hidden {
    opacity: 0;
    transition: opacity 10s ease-in-out; /*adjust duration as needed*/
}

.visible {
    opacity: 1;
}